@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Preahvihear', sans-serif;
    
}
section{
    height: 93vh;
    width: 100%;
    background-color: #2C394B;
}
#buyProduct{
    display: flex;
}
.paymentMethod {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paymentContainer{
    margin-top: 150px;
    width: 400px;
    height: 400px;
    border: 2px solid #F0ECE5;
}
.paymentMethod h4{
    color: #FF4C29;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #F0ECE5;
}
.paymentMethods{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.paymentMethods li{
    text-decoration: none;
    margin-top: 15px;
    
    /* border: 2px solid #F0ECE5; */
}
.details{
    flex: 3;
    background-color: #082032;
}
h2{
    color: #FF4C29;
    font-weight: 700;
}
.details label{
   color: #F0ECE5;
}
.summary{
    color: #F0ECE5;
    margin: 1.1vw;
}
.panel{
    color: #F0ECE5;
}