@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Preahvihear', sans-serif;
    background-color: #2C394B;
}

section{
    width: 100%;
    /* min-height: 100vh; */
}

#home{
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.7)),url('../ìmages/home.jpg');
    height: 63vh;
    background-size:cover;
    background-position: center;
    
}
#home h1,p{
    color: #FF4C29;
    text-align: center;
    position: relative;
    top: 170px;
}
#home h1{
    font-size: 4rem;
    text-shadow: 0px 1px 0px #F0ECE5,
                0px 2px 0px #F0ECE5,
                0px 3px 0px #F0ECE5,
                0px 4px 0px #F0ECE5,
                0px 5px 0px #F0ECE5;
}
#home p{
    font-size: 90%;
}
#homepage{
    background-color: #2C394B;
}
#catogaries{
    /* width: 70    vw; */
    background-color: #082032;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-bottom: 1vw;
}
#catogaries a{
    color: #F0ECE5;
}
#catogaries img{
    object-fit: cover;
    background-position: center;
}
#discount #arrow i{
    position: relative;
    top: 110px;
    
}
.gadgets{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.gadgets a:nth-child(2){
    /* color: #001C30; */
    height: 3vw;
}
#discount #exclusive{
    background-color:#082032;
}
/* #carddiv{
    width: 250px;
} */
#discount h1{
    color: #FF4C29;
    font-weight: 700;
}

.card {
    
    /* transform: translate(-50%,-50%); */
    width: 90%;
    height: 90%;
    background: #000;
}
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.card .image img {
    width: 100%;
    height: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #2C394B;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h6 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
}
.card .details .center p span {
    font-size: 14px;
    color: #d60d0d;
}
.card .details .center p {
    position: relative;
    bottom: 30vw;
    /* margin-bottom: 10px; */
    /* padding: 0; */
    color: #9a2b2b;
}
#trendbox{
    background-color: #082032;
    border-right: 2px solid black;
}
#trendbox h1{
    color:#ff3636 ;
    font-weight: 700;

}

#productcard{
width:90%;
margin:50px auto; 
background-color:#082032;
border-radius: 20px;
}
#products .card{
    height: 100%;
}
#products h1{
    color: #FF4C29;
    font-weight: 700;
}
.column {
float: left;
width: 20%;
padding: 0 10px;
margin-top: 10px;
margin-bottom: 10px;
}


#details {
    margin: 0 -5px;
    /* background-color: #001C30; */
}


.details:after {
content: "";
display: table;
clear: both;

}
#brands{
    background-color: #082032;
}
#brands h1{
    font-weight: 700;
    color: #FF4C29;
    margin-bottom: 2vw;
    padding-left:4vw ;
}
#brands a{
    color:#F0ECE5;
    font-size: 2vw;
    font-weight: 800;
    text-decoration:none;
    text-transform:uppercase;
}

/* Responsive columns */
@media screen and (max-width: 917px) {
#productcard{
    width: 90%;
  }
    
    .column {
      width: 33.33%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
  #card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border-radius:10px;
    cursor:pointer;
  }
  #card .profile{
     border-radius:10px;
     transition: 0.2s;
  }
  #card:hover .profile{
    transform:scale(1.4);
    border-top-right-radius:50px;
    border-top-left-radius:50px;
  }
  
  #card .content{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
  }
  #card .content .back{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #f1f1f1e6;
    transition:1s;
    
    z-index:1;
    padding:10px;
  }
  
  .from-left{
    top:0;
    left:-100%;
  }
  #card:hover .content .from-left {
     left:0%;
  }
  
  #card .content .back h3{
    font-size:15px;
    letter-spacing:2px;
  }
  #card .content .back .tem-img{
    border-radius:100%;
  }
  
  #card .content .back .des{
    font-size:13px;
    padding:20px 0px;
  }
  .from-left #buybutton{
    background-color: #64CCC5;
    border-radius: 10px;
    color: #001C30;
  }
  #cartbutton{
    background-color:#001C30;
    border-radius: 10px;
  }
  

#footer{
    background: black;
    color: #fff;
}
#footleft{
   margin-top: 20px;
}
#footleft h2{
    font-weight: 600;
    text-decoration: underline 1.5px greenyellow;
    text-underline-position: under;
}
/* #footleft p{
    padding-top: 20px;
    padding-right: 150px;
} */
#footleft .input-group{
    padding-top: 20px;
    padding-right: 150px;
    border: none;
    outline: none;
}
#footleft button{
    background-color: green;
}
#footleft input{
    border: none;
}
#footright{
   margin-top: 20px;
    text-align:center;
}
#footright{
    display: flex;
    flex-direction: column;
}
#footright address {
    font-size:18px; 
    margin-bottom: 40px;
}

#footright address a{
   color: orangered;
}
#con-us{
    padding-left: 22%;
    padding-top: 10px;
    text-align: start;
}
#con-us:hover{
    color: orangered;
}
#social{
    text-align: center;
}

.footbox{
    align-self: start;
    
}
#social a{
    display: flex;
    margin-top: 20px;
}
#social a img{
    width: 40px;
    height:40px;
    transition: .6s;
}
#social a span{
    font-size: 15px;
    margin-top: 9px;
    margin-left:12px;
}
#social a:hover{
    transform: translateX(1%);
}
#social a span:hover{
    color: orangered;
}
/* #details{
    font-size: 14px;
    color: #ccc;
    background-color: #ff3636;
} */