@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Preahvihear', sans-serif;
}
.login{
    background:linear-gradient(to left,rgba(19, 18, 18,.7),rgba(22, 21, 21,.8)),url(/media/register.jpg);
    background-size: cover;
    background-position: center;
    object-fit: fill;
    height: 100vh;    
}
.login h1{
    text-align: center;
    margin: 20px 0 ;
}
.form-group{
    height: 80px;
}
.form-group .form-control{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    fill: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
}
.form-group .form-control:focus{
    background: transparent;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-group input::placeholder{
    font-weight:600;
}
.login h1{
    color: #279EFF;
    font-size: 50px;
    font-weight:bolder;
}
.login #btn{
    width: 75%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #279EFF;
    color: #efe3e3;
    font-size: 20px;
    font-weight: 700;
    border:none;
}
#btn:hover{
    color: black;
    filter: brightness(90%);
}
#details{
    background-color: rgba(12, 53, 106,.4);
    border-radius: 15px;
    
    margin: 120px auto;
    padding: 20px;
}
#details .top{
    display: flex;
}
.top h2{
    flex: 1;
    font-size: 40px;   
    font-family: 'Preahvihear', sans-serif;
    color: #D5FFD0;
}
.top h5{
    padding-top: 10px;
    color: #279EFF;
    font-size:20px;
    font-weight: 600;
}
.forms2{
    background-color: #5f4bb7;
}
.connect h5{
    color: #e6e9ec;
    font-weight: 600;
}
.brands a img{
    background-color: rgb(243, 235, 235);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px !important;
}
.line{
    width: 100px;
    border-bottom: 1px solid rgb(238, 234, 234);
    position: relative;
    bottom: 26px;
}
.connectwith{
    display: flex;
    gap: 11px;
    justify-content: center;
}
form a{
    color: #D5FFD0;
    position: relative;
    left: 200px;
    top: 10px;
}
#footer{
    background: black;
    color: #fff;
   
}
#footleft{
   margin-top: 20px;
}
#footleft h2{
    font-weight: 600;
    text-decoration: underline 1.5px greenyellow;
    text-underline-position: under;
}
/* #footleft p{
    padding-top: 20px;
    padding-right: 150px;
} */
#footleft .input-group{
    padding-top: 20px;
    padding-right: 150px;
    border: none;
    outline: none;
}
#footleft button{
    background-color: green;
}
#footleft input{
    border: none;
}
#footright{
   margin-top: 20px;
    text-align:center;
}
#footright{
    display: flex;
    flex-direction: column;
}
#footright address {
    font-size:18px; 
    margin-bottom: 40px;
}

#footright address a{
   color: orangered;
}
#con-us{
    padding-left: 22%;
    padding-top: 10px;
    text-align: start;
}
#con-us:hover{
    color: orangered;
}
#social{
    text-align: center;
}

.footbox{
    align-self: start;
    
}
#social a{
    display: flex;
    margin-top: 20px;
}
#social a img{
    width: 40px;
    height:40px;
    transition: .6s;
}
#social a span{
    font-size: 15px;
    margin-top: 9px;
    margin-left:12px;
}
#social a:hover{
    transform: translateX(1%);
}
#social a span:hover{
    color: orangered;
}
/* #details{
    font-size: 14px;
    color: #ccc;
    background-color: #ff3636;
} */