@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Preahvihear', sans-serif;
    
}
#navbar{
    display: flex;
    background-color: #082032;
}
#navbar a{
    color:#F0ECE5;
}
#navbar #search button{
    background: transparent;
    border: none;
}
#navbar #serach input{
    background: transparent;
    border: none;
}
#navbar #account{
    flex: 1;
    justify-content: end;
    
}
#navbar #account #login{
    margin-right: 15px;
    background-color: #FF4C29;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    color: #F0ECE5;
}
#navbar #account #Register{
    margin-right: 15px;
    background-color:#F0ECE5;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    color: #FF4C29;
}
#navbar #account #user{
    background: none;
    color: #F0ECE5;
    transition: transform 1s;
}
#navbar #account #cart{
    background: none;
    color:#FF4C29;
    transition: transform 1s;
}
#navbar #account #cart :hover{
    transform: scale(1.2);
    /* color: #64CCC5; */
}
#navbar #account #user :hover{
    transform: scale(1.2);
    /* color: #64CCC5; */
}
#navbar .dropdown-menu{
    background-color: #082032;
}
#navbar #userDetails{
    position: absolute;
    left: -400px;
    top: 50px;
    background-color:#FF4C29;
    width: 30vw;
}
#navbar #user{
    color:#FF4C29;
}
#navbar #userDetails .dropdown-item input{
   font-size:14px;
   color: #F0ECE5;
   border: none;
   background: transparent;
   outline: none;
}
#navbar #userDetails #dropdown-item i{
    color: #F0ECE5;
    display: flex;
    justify-content:flex-end;
    position: relative;
    bottom: 12px;
    
 }
 #navbar #userDetails hr{
    background-color: #F0ECE5;
 }
 #navbar #userDetails .dropdown-item div{
    border-bottom: 1px solid #F0ECE5;
 }
#navbar #userDetails .dropdown-item h4{
    font-size:17px;
    color: #F0ECE5;
 }

.dropdown-menu .dropdown-item{
    background-color: transparent;
    border: transparent;
    border: none;
  }
 